body {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #e6ecf0;
	margin: 0;
}

#middle-panel {
    background-color: white;
    float: left;
    margin-top: 30px;
    max-width: 400px;
    margin-left: 230px;
    border-radius: 25px;
    height: 100%;
    padding-bottom: 20px;
}
