body {
	background-color: #e6ecf0;
	margin: 0;
}

#navbar {
	padding: 10px;
	background-color: white;
}

#navbar ul {
	margin: 0px;
    padding: 3px;
    margin-right: 10px;
	/* Add properties below */
}

#navbar ul li{
    margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	font-size: 20px;
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
	display: inline-block;
}


#navbar ul li a{
	color: black;
}

#navbar ul li a:hover{
    text-decoration: none;
    background-color:#e6ecf0;
    color: #86a4b6;
}

#first-item { 
    margin-left: 340px;
    margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
	display: inline-block;
}

#left-panel {
    margin-top: 30px;
	padding: 0px;
    float: left;
    width: 270px;
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
}

#left-panel table{
	margin: 0px;
	padding: 0px;
	/* Add properties below */
    background-color: white;
    width: 250px;
    border-collapse: collapse;
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
}
#left-panel table tr {
    border: solid;
    border-width: 5px 0;   
    border-color: #e6ecf0;
}

#left-panel table tr td {
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
    margin-left: 20px;
    
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
}

#middle-panel {
    background-color: white;
    float: left;
	/* Add properties below */
	margin-top: 30px;
    max-width: 600px;
}

#slideshow-container{
    background-color: #e6ecf0;
}
/* Slideshow container */
.dot-container {
    text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Caption text */
.text {
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Position the "next button" to the right */
.next {
    margin-left: 528px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    text-decoration: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.recipe-post {
    border: solid;
    border-width: 5px 0;   
    border-color: #e6ecf0;
}

#right-panel {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    width: 250px;
    background-color: white;
}
#right-panel table {
    width: 250px;
}

#right-panel table tr {
    border: solid;
    border-width: 5px;   
    border-color: #e6ecf0;
}

#right-panel table tr td {
	font-weight: bold;
}
