#user-profile {
    background-color: white;
	padding: 10px;

    /* Add properties below */
    min-height: 0px;
	margin-top: 30px;
    margin-left: 10px;
    width: 25%;
    position: relative;
    float: left;
    border-radius: 10%;
    text-align: center;
}

.edit-button{
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}



#user-profile div{
    padding-top: 10px;
}

#user-recipes {
    background-color: white;
    padding: 20px;
    float: left;
    margin-top: 30px;
    border-radius: 10%;
    margin-left: 30px;
}

#user-recipes h4 {
    text-align: center;
}
