#user-profile {
    background-color: white;
	padding: 10px;
    min-height: 0px;
	margin-top: 30px;
    margin-left: 70px;
    width: 300px;
    position: relative;
    float: left;
    border-radius: 25px;
    text-align: center;
}

#user-description {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    padding: 30px;
}

.edit-button{
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

#user-picture{
    position: relative;
}

.recipes-collaps {
    background-color: white;
    width: 470px;
    padding: 20px 30px;
    float: left;
    margin-top: 30px;
    border-radius: 25px;
}

h4 button {
    float: right;
}

.recipe-list{
    margin-top: 20px;
    width: 430px;
    max-height: 600px;
}

#collection-recipes{
    background-color: white;
    width: 65%;
    padding: 20px;
    float: left;
    margin-top: 30px;
    border-radius: 25px;
    margin-left: 30px;
}

#collection-recipeswithEx{
    background-color: white;
    width: 65%;
    padding: 20px;
    float: left;
    margin-top: 30px;
    border-radius: 25px;
    margin-left: 315px;
}

.save-button {
    margin-top: 10px;
}

#profile-pic{
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

#change-pic{
    overflow: hidden;
}

#recipe-div {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    width: 470px;
}

.recipe-div .recipe-container{
    margin-left: 30px;
}

.recipe-div .vertical-scrollable{
    width: 300px;
}

.recipe-tab-bar {
    background-color: white;
    border-radius: 25px;
}