#left-panel {
    margin-top: 30px;
	padding: 0px;
    position: fixed;

}

#left-panel table{
    background-color: white;
    width: 200px;
    border-radius: 25px;
}

#left-panel table tr td img{
    width:25px; 
    height:25px;
}