#my-collection{
    background-color: white;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    max-width: 800px;
    border-radius: 25px;
}

#my-collection b{  
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}