body {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #e6ecf0;
	margin: 0;
}

#middle-panel {
    background-color: white;
    position: absolute;
    margin-top: 30px;
    max-width: 630px;
    margin-left: 240px;
    border-radius: 25px;
    height: fit-content;
    padding: 20px 20px;
}

#right-panel {
    height: 100%;
    position: absolute;
    margin-left: 860px;
    margin-top: 30px;
    padding-left: 20px;
}

#recipe-list {
    margin-top: 10px;
    max-height: 600px;
}
