.recipe-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    text-align:center;
    display: inline-block;
    white-space: normal;
    position:relative;
}

.vertical-scrollable{
    width: 400px;
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden; 
    
}

a{
    float: none;
    color: black;
}

a:hover{
    text-decoration: none;
    background-color:#e6ecf0;
    color: #86a4b6;
}

