#user-profile {
    background-color: white;
	padding: 10px;

    /* Add properties below */
    min-height: 400px;
	margin-top: 30px;
    margin-left: 10px;
	width: 25%;
    float: left;
    border-radius: 25px;
    text-align: center;
}

#user-recipes{
    border-radius: 25px;
}

#profile-input{
  
}

#profile-input textarea{
    width: 170px;
    margin-left: 20px;
    min-height: 200px;
    text-align: left;
}

.save-button{
    cursor: pointer;
    margin-top: 10px;
}