#right-panel {
    margin-left: 10px;
    margin-top: 30px;
    float: left;
    background-color: white;
    border-radius: 25px;
    width: 270px;
}

#right-panel span{
    padding-left: 2px;
}

#right-panel #table-row .name{
    font-weight: bold;
    padding-right: 50px;
    
}

#right-panel #table-row .likes-count{
    padding-left: 0px;
    font-weight: bold;
}

#right-panel #table-row .recipe-name{
    padding-right: 40px;
}

#right-panel #table-row .recipe-likes{
    padding-top: 15px;
    padding-left: 0px;
    width: 70px;
}

#right-panel #table-row .recipe-likes .dislikes{
    margin-left: 0px;
    float: left;
    position: relative;
}
#right-panel #table-row .recipe-likes .likes{
    margin-left: 0px;
    float: left;
    position: relative;
}

#right-panel #table-row .recipe-likes span{
    position: relative;
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}



#right-panel .dislikes{
    float: left;
}