div{
    font-family: Arial, Helvetica, sans-serif;
}
.login-page .logo {
    background-color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 25%;
    width: 430px;
    height: 160px;
    border-radius: 25px;
}

.login-page .logo img{
    float: left;
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.login-page .logo .name {

    font-size: 45px;
    font-weight: bold;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
}

.login-page .login-form{
    margin-top: 20px;
    position: relative;
    width: 420px;
    margin-left: 25%;
}

.login-page .login-form #login-button{
    position: relative;
    margin-top: 40px;
    margin-left: 170px;
}

.login-page .link-signup {
    position: relative;
    margin-top: 20px;
    margin-left: 32%;
}

