.recipe-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align:center;
    background-color: white;
    display: inline-block;
    white-space: normal;
}

div.horizontal-scrollable{
    overflow-x: auto; 
    white-space: nowrap;
}

a{
    float: none;
    color: black;
}

a:hover{
    text-decoration: none;
    background-color:#e6ecf0;
    color: #86a4b6;
}

