.recipe-container {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align:center;
    background-color: white;
}

a{
    float: none;
    color: black;
}

a:hover{
    text-decoration: none;
    background-color:#e6ecf0;
    color: #86a4b6;
}

.recipe{
    border-radius: 10%;
}

.like-class{
    text-align: left;
}

.like-class span{
    position: relative;
    margin-left: 5px;
}

.like-class .likes{
    color: red;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

.like-class .dislikes{
    color: white;
    stroke:red;
    stroke-width: 30;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}


.star{
    color:rgb(212, 212, 15);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.hollow-star{
    color: white;
    stroke:  rgb(212, 212, 15);
    margin-right: 10px;
    stroke-width: 30;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
