#navbar {
	background-color: white;
	margin-left: -5px;
	position: fixed;
	width: 970px;
	text-align: center;
	z-index: 999;
	border-radius: 0 0 25px 25px;
}

#navbar .logo{
	float: left;
	margin-left: 20px;
	font-weight: bold;
	font-size: 25px;
	width: fit-content;
}

#navbar .logo img{
	height: 60px;
	width: 60px;
}

#navbar ul {
	float: right;
	margin-top: 10px;
    padding: 3px;
    margin-right: 10px;
}

#navbar ul li{
	margin-right: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	list-style: none;
	text-align: center;
	font-size: 20px;
	display: inline-block;
}

#navbar ul li img {
	width:50px; 
	height:50px;
}

#navbar ul li a{
	color: black;
}

#navbar ul li a:hover{
    text-decoration: none;
    background-color:#e6ecf0;
    color: #86a4b6;
}